.video-container {
    width: 100%;
    height: 30%;
}

.video-control-btn {
    width: 6%;
    margin-left: 3px;
    margin-right: 3px;
}

.video-control-voice {
    width: 15%;
    margin-left: 3px;
    margin-right: 3px;
}

.video-progress {
    width: 40%
}
